<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Eiser ecommerce</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Assets/Client/css/bootstrap.css" />
    <link rel="stylesheet" href="/Assets/Client/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/Assets/Client/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Assets/Client/css/themify-icons.css" />
    <link rel="stylesheet" href="/Assets/Client/css/flaticon.css" />
    <link rel="stylesheet" href="/Assets/Client/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Assets/Client/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/Assets/Client/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="/Assets/Client/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="/Assets/Client/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/Assets/Client/css/style.css" />
    <link rel="stylesheet" href="/Assets/Client/css/responsive.css" />
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html">
                        <img src="/Assets/Client/img/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @{Html.RenderAction("MainMenu", "Home");}
                </nav>
            </div>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    @RenderBody()
    <!--================ start footer Area  =================-->
    @{Html.RenderAction("Footer", "Home");}
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/Assets/Client/js/jquery-3.2.1.min.js"></script>
    <script src="/Assets/Client/js/popper.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script src="/Assets/Client/js/stellar.js"></script>
    <script src="/Assets/Client/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/Assets/Client/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/Assets/Client/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/Assets/Client/vendors/isotope/isotope-min.js"></script>
    <script src="/Assets/Client/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/Assets/Client/js/jquery.ajaxchimp.min.js"></script>
    <script src="/Assets/Client/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Assets/Client/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/Assets/Client/js/mail-script.js"></script>
    <script src="/Assets/Client/js/theme.js"></script>
</body>

</html>